html {
  font-family: sans-serif;
  line-height: 1.5;
  color: #333;
}

label,
input {
  display: block;
  margin: 5px 0;
}

#server-name {
    width: 50%;
    margin: 0 auto 20px auto;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2em;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#files {
    width: 200px;
}
#file-content {
    flex-grow: 1;
    height: 40em;
    margin-bottom: 1em;
}

#files > a {
    display: block;
    margin-bottom: .8em;
}

.content-area {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.update-btn {
    display: block;
}